.about
	.container

		header.text-center
			p.small-text.color-mark Testimonials

			h1.title What our clients say about us

		include ../../components/slider/slider

		header.text-center
			h2.title Leave your feedback

			p.desc If you had a chance to work with us, please, leave your feedback and we'll happily add it to our testimonials page. Thank you!

			div
				a.btn(href='#') leave your feedback
