.title {
	font-weight: 700;
	font-size: 3.2rem;
	line-height: 1.3;

	@include media(M) {
		font-size: 4.2rem;
	}

	@include media(L) {
		font-size: 5.2rem;
	}
}

.desc {
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 1.6;

	@include media(M) {
		font-size: 2rem;
	}
}

.small-text {
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.3;
}
